{% extends 'boilerplate.html' %}


{% block body %}

<div class="user-profile-edit-page">
    <h1 class="mt-3">Edit User Information</h1>
    <div class="grid-card user-profile-edit-card mt-5">
        <div>
            <img class="pb-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnoVSgnlo6uy12MzKsXWkkr3CA6dZTH8rmzuo2PC_S7wAbL5V1BlCb0hqwRqMlRrhgrPM&usqp=CAU" alt="avatar">
            {% if user_form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in user_form.errors.items %}
                        <strong>{{ key }} {{value}}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <div class="form-content">
                <form method="post">
                    {% csrf_token %}
                    <div class="user-form pb-2">
                        <div class="form-group user-form">
                            <label class="small mb-1">First Name:</label>
                                {{ profile_form.first_name }}
                            <label class="small mb-1">Last Name:</label>
                                {{ profile_form.last_name }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
                    <button type="reset" class="btn btn-dark btn-lg">Reset</button>
                </form>
            </div>
            <div class="pt-2">
                <a href="{% url 'delete_account' user.id %}">Delete this account</a>
            </div>
        </div>

        </div>
    </div>
</div>

{% endblock %}