
{% extends "boilerplate.html" %}
{% block body %}


<div class="container">
    <div class="row">
        <div class="heading-title text-center">
            <h1 class="text-uppercase p-top-30">The Team </h1>
            <p class="p-top-30 half-txt">Songs to See</p>
            <hr>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="../static/images/Irwin_Headshot.png" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Irwin Panguripan</h4>
                        <p>Back End | Api Manager | Database Manager | Master Debugger</p>
                        <!-- <p>"idk anymore"</p> -->
                    </div>
                    <div class="s-link">
                        <a href="https://github.com/itsIpN" target="_blank" rel="noreferrer noopener"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/irwinpanguripan/" target="_blank" rel="noreferrer noopener"><i class="fa fa-linkedin"></i></a>
                        <a href="#" target="_blank" rel="noreferrer noopener"><i class="fa fa-globe"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Irwin Panguripan</h5>
                <span>Software Engineer | Food Scientist</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="../static/images/Vincent_Headshot.png" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Vincent Nguyen</h4>
                        <p>Full Stack | Api Manager | Database Manager | Designer</p>
                        <!-- <p>"Ooooooooh!!</p> -->
                    </div>
                    <div class="s-link">
                        <a href="https://github.com/vknguyen1" target="_blank" rel="noreferrer noopener"><i class="fa fa-github"></i></a>
                        <a href="www.linkedin.com/in/vincent-nguyen-4b2b29243" target="_blank" rel="noreferrer noopener"><i class="fa fa-linkedin"></i></a>
                        <a href="#" target="_blank" rel="noreferrer noopener"><i class="fa fa-globe"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Vincent Nguyen</h5>
                <span>Software Engineer | Senior Accountant</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="../static/images/Hannah_Headshot.png" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Hannah Bethke</h4>
                        <p>Front End | GitHub Manager | Documenter | Designer </p>
                        <!-- <p>"whyyyyyyyy????"</p> -->
                    </div>
                    <div class="s-link">
                        <a href="https://github.com/hannahbethke" target="_blank" rel="noreferrer noopener"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/hannah-bethke/" target="_blank" rel="noreferrer noopener"><i class="fa fa-linkedin"></i></a>
                        <a href="#" target="_blank" rel="noreferrer noopener"><i class="fa fa-globe"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Hannah Bethke</h5>
                <span>Software Engineer | Massage Therapist</span>
            </div>
        </div>

    </div>

</div>

{% endblock %}

<!-- <script>
    irwindiv = document.getElementById('irwindiv')
    irwindiv.addEventListener(onmouseover, mouseOverAbout(irwindiv))

    function mouseOverAbout(irwindiv) {
        irwindiv.style.boxShadow ='10px 20px 30px blue';
    }
</script> -->