/* HOME PAGE */

.home-search-container {
  background-color: #f8f9fa;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 200px;
  color: white;
  background: linear-gradient( 
    90deg, rgba(9, 9, 121, 1) 0%,
    rgba(53, 53, 181, 1) 35%,
    rgba(25, 111, 182, 1) 100% 
    );
  box-shadow: 0 5px 10px -2px rgb(49, 49, 49);
  margin-bottom: 20px;
  padding-bottom: 30px;
}
.home-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.search-icon {
  height: 38px;
  width: 38px;
  border-radius: 5px;
}

.search-title {
  margin: 20px 0px 20px 50px;
}

.home-search-container {
  background-color: #F8F9FA;
}

#browseSpan {
  font-style: italic;
}
.card-grid {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-card {
  display: block;
  text-align: center;
  flex-basis: 100%;
  margin: 10px;
  border: none;
  box-shadow: 
    0 1px 1px rgba(0, 0, 0, 0.11), 
    0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 
    0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
}


.card-img-top {
  display: block;
  width: 100%;
  height: auto;
}

.card-block {
  font-size: 1em;
  margin: 0;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  box-shadow: none;
}

.card-title {
  font-size: 1.27em;
  font-weight: 700;
  line-height: 1.2857em;
  padding: 1rem;
}

.card-text {
  color: rgba(0, 0, 0, .7);
}
.card-footer {
  bottom: 0;
}

.grid-card a {
  text-decoration: none;
  color: black;
}
.card:hover {
  transform: scale(1.05);
}
@media only screen and (min-width: 400px) {
  .grid-card {
    flex-basis: 50%;
  }
}
@media only screen and (min-width: 640px) {
  .grid-card {
    flex-basis: 33%;
  }
}
@media only screen and (min-width: 960px) {
  .grid-card {
    flex-basis: 25%;
  }
}
@media only screen and (min-width: 1280px) {
  .grid-card {
    flex-basis: 18%;
  }
}


/* SEARCH RESULTS PAGE */
/* USER PROFILE PAGE */
#userProfileWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#userProfileDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 800px;
  min-width: 900px;
  margin-top: 50px;
}
#userProfileUl li {
  list-style: none;
}

#userProfileUl li a {
  color: black;
}

.user-profile-h1 {
  border-bottom: solid 2px black;
}

.user-profile-edit-page {
  display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-profile-edit-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  min-width: 800px;
}
.user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#update {
  font-size: larger;
  font-weight: 200;
  color: #2c49b5;
}